@charset "UTF-8";
/*Sombra*/
/*Animación para el hover*/
header nav .WhatsAppBtn, header nav .nav-link, header nav .animaLogo {
  transition: all ease 0.5s;
}

/*Flip and flop*/
.contenido .flip-card-back, .contenido .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/*Animación para el logotipo*/
header nav .animaLogo:hover {
  animation: rotar 0.5s;
}

@keyframes rotar {
  2% {
    transform: rotateZ(-5deg);
  }
  10% {
    transform: rotateZ(10deg);
  }
  30% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(-5deg);
  }
  70% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}
.contenido .btnPortafolio, .contenido .habilidades .botonConoceme, .contenido .oscuro .InfoInicio .botonIndex, header nav .telefono {
  padding: 10px;
  margin: auto;
  text-align: center;
  transition: all ease 0.5s;
  background-color: transparent;
  border-top: 1px solid #f90300;
  border-bottom: 1px solid #f90300;
}

.contenido form .botonContacto {
  padding: 10px;
  margin: auto;
  text-align: center;
  transition: all ease 0.5s;
  background-color: transparent;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.contenido form .botonContacto a, .contenido .btnPortafolio a, .contenido .habilidades .botonConoceme a, .contenido .oscuro .InfoInicio .botonIndex a, header nav .telefono a {
  text-decoration: none;
  color: #ffffff;
}

/*Titulos generales*/
.contenido .sliderContacto .sliderContactame h1, .contenido .sliderClientes .sliderCliente h1, .contenido .sliderPortafolio .sliderPorta h1, .contenido .sliderConoceme .sliderConocemeSombra h1, .contenido .oscuro .InfoInicio h1 {
  font-family: "Nunito", sans-serif;
  width: 100%;
}

.contenido .habilidades h2 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.5em;
}

.contenido .habilidades .ContHabilidad h3 {
  font-size: 3em;
  font-family: "Barlow", sans-serif;
  color: #f90300;
}

.contenido .habilidades .ContHabilidad h4 {
  font-size: 1.2em;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
}

.contenido .flip-card-back h5 {
  font-size: 1.2em;
  font-family: "Barlow", sans-serif;
  font-weight: bold;
}

.contenido .sliderContacto .sliderContactame p.capitalLetter:first-letter, .contenido .sliderClientes .sliderCliente p.capitalLetter:first-letter, .contenido .contenedor p.capitalLetter:first-letter {
  font-size: 40px;
  font-weight: bold;
  line-height: 20px;
  padding: 1px;
  margin-right: 1px;
  font-family: "Barlow", sans-serif;
}

.contenido {
  margin: 0px;
  padding: 0px;
}

.contenido .sliderContacto .sliderContactame, .contenido .sliderClientes, .contenido .sliderPortafolio, .contenido .sliderConoceme {
  background-repeat: no-repeat;
}

.contenido .contenedor {
  width: 100%;
  height: auto;
  display: flex;
  font-family: "Barlow", sans-serif;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to bottom, #000000, #f90300);
}

.contenido .clienteGallery, .contenido .galeria {
  max-width: 1024px;
  display: grid;
  margin: 50px auto;
  justify-content: center;
  gap: 1rem;
}

header {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: 0px;
  background-color: #000000;
  z-index: 30;
  height: 100%;
}
@media screen and (max-width: 768px) {
  header {
    position: static;
    height: auto;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin: 0px;
  }
}
@media screen and (max-width: 570px) {
  header {
    position: static;
    height: auto;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin: 0px;
  }
}
header nav .navbar-toggler-icon {
  background-image: url(../img/menu.png);
}
header nav .menuVer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: 0px;
}
@media screen and (max-width: 768px) {
  header nav .menuVer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin: 0px;
  }
}
@media screen and (max-width: 570px) {
  header nav .menuVer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin: 0px;
  }
}
header nav img {
  max-width: 90%;
}
@media screen and (max-width: 570px) {
  header nav img {
    max-width: 70%;
  }
}
header nav .nav-link {
  color: #ffffff;
}
@media screen and (max-width: 570px) {
  header nav .nav-link {
    font-size: 20px;
  }
}
@media screen and (max-width: 570px) {
  header nav .nav-link {
    font-size: 20px;
  }
}
header nav .active {
  color: #f90300;
  font-weight: bold;
}
header nav .nav-link:hover {
  color: #f90300;
  font-size: 18px;
  font-weight: bold;
}
header nav .telefono {
  width: 150px;
}
@media screen and (max-width: 768px) {
  header nav .telefono {
    margin: 0;
  }
}
@media screen and (max-width: 570px) {
  header nav .telefono {
    margin: 0;
    width: 300px;
  }
}
header nav .telefono a:hover {
  width: 200px;
  text-shadow: 2px 0px 5px #ffffff;
  color: #ffffff;
}
header nav .WhatsAppBtn {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  transform: scale(100%);
}
header nav .WhatsAppBtn:hover {
  transform: scale(130%);
}
@media screen and (max-width: 768px) {
  header nav .WhatsAppBtn {
    margin: 10px 0;
  }
}
@media screen and (max-width: 570px) {
  header nav .WhatsAppBtn {
    margin: 10px 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Nunito', sans-serif;*/
/*font-family: 'Barlow', sans-serif;*/
body {
  font-family: "Barlow", sans-serif;
  overflow-x: hidden !important;
}
body .ContGral {
  width: 100%;
  padding: 0;
  margin: 0;
}

/**Inicio**/
.contenido .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.contenido .rslides #wrapper {
  padding: 0px;
  margin: 0px;
}
.contenido .rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.contenido .rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.contenido .rslides img {
  display: block;
  height: auto;
  width: 100%;
  border: 0;
}
.contenido .oscuro {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  padding: 0;
}
@media screen and (max-width: 570px) {
  .contenido .oscuro {
    background-color: black;
    position: static;
    height: 300px;
  }
}
.contenido .oscuro .InfoInicio {
  margin: auto;
  max-width: 100%;
  text-align: center;
}
.contenido .oscuro .InfoInicio h1 .bienvenido {
  font-size: 2em;
  color: #ffffff;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .contenido .oscuro .InfoInicio h1 .bienvenido {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 570px) {
  .contenido .oscuro .InfoInicio h1 .bienvenido {
    font-size: 1em;
  }
}
.contenido .oscuro .InfoInicio h1 .gab {
  font-size: 5em;
  color: rgba(40, 40, 40, 0.4);
  -webkit-text-stroke: 1px #ffffff;
  line-height: 1em;
}
@media screen and (max-width: 768px) {
  .contenido .oscuro .InfoInicio h1 .gab {
    font-size: 3em;
  }
}
@media screen and (max-width: 570px) {
  .contenido .oscuro .InfoInicio h1 .gab {
    font-size: 2em;
  }
}
.contenido .oscuro .InfoInicio .info_Sl {
  color: #ffffff;
  font-size: 2em;
  margin: 0px 0px 20px 0px;
}
@media screen and (max-width: 768px) {
  .contenido .oscuro .InfoInicio .info_Sl {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 570px) {
  .contenido .oscuro .InfoInicio .info_Sl {
    font-size: 1.5em;
  }
}
.contenido .oscuro .InfoInicio .asterisco {
  color: #f90300;
}
.contenido .oscuro .InfoInicio .botonIndex {
  width: 150px;
}
.contenido .oscuro .InfoInicio .botonIndex:hover {
  width: 200px;
}

/*Conóceme*/
.contenido .sliderConoceme {
  background-image: url(../img/conoceme/conoceme.jpg);
  background-position: top left;
  background-size: 110%;
}
@media screen and (max-width: 570px) {
  .contenido .sliderConoceme {
    background-image: url(../img/conoceme/conoceme.jpg);
    background-position: center left;
    background-size: 200%;
  }
}
.contenido .sliderConoceme .sliderConocemeSombra {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  margin: 0px 0px 0px 200px;
  height: 300px;
  left: 0px;
}
@media screen and (max-width: 570px) {
  .contenido .sliderConoceme .sliderConocemeSombra {
    position: static;
    background-color: white;
    margin: 300px 0 0 0;
    height: 200px;
  }
}
.contenido .sliderConoceme .sliderConocemeSombra h1 .TitInt {
  font-size: 1.5em;
  color: #000000;
  line-height: 1em;
}
.contenido .sliderConoceme .sliderConocemeSombra h1 .TitInt2 {
  font-size: 3em;
  color: #f90300;
  line-height: 1em;
}
.contenido .contenedor {
  flex-direction: row;
  padding: 70px 50px;
}
@media screen and (max-width: 570px) {
  .contenido .contenedor {
    flex-direction: column;
    padding: 50px 10px;
  }
}
.contenido .contenedor .redondo {
  border-radius: 100%;
  width: 300px;
}
.contenido .contenedor .info {
  font-size: 20px;
  width: 60%;
}
@media screen and (max-width: 570px) {
  .contenido .contenedor .info {
    font-size: 20px;
    width: 80%;
  }
}
.contenido .caractaristicas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  gap: 10px;
  margin: 70px 0px;
}
.contenido .caractaristicas .icoPortafolio {
  background-color: #f90300;
  border-radius: 100%;
  margin: -30px auto 0 auto;
  width: 70px;
  height: 70px;
}
.contenido .caractaristicas .icoPortafolio img {
  width: 70px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .contenido .caractaristicas {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 570px) {
  .contenido .caractaristicas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 30px 0px;
    flex-wrap: wrap;
  }
}
.contenido .habilidades {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 0px;
  background-image: url(../img/conoceme/slide_habilidades.jpg);
  background-position: center center;
  background-size: cover;
  padding: 50px 0;
  background-attachment: fixed;
}
.contenido .habilidades .ContHabilidad {
  text-align: center;
  width: 200px;
}
@media screen and (max-width: 570px) {
  .contenido .habilidades .ContHabilidad {
    padding: 0px;
  }
}
.contenido .habilidades .ContHabilidad img {
  width: 100px;
}
@media screen and (max-width: 570px) {
  .contenido .habilidades .ContHabilidad img {
    width: 50px;
  }
}
.contenido .habilidades .botonConoceme {
  width: 250px;
}
.contenido .habilidades .botonConoceme:hover {
  width: 300px;
  text-shadow: 2px 0px 5px #ffffff;
}

/*Portafolio*/
.contenido {
  /*Tab para portafolio*/
  /*Pop up*/
}
.contenido .sliderPortafolio {
  background-image: url(../img/portafolio/slide_portafolio.jpg);
  background-position: center left;
  background-size: 110%;
}
@media screen and (max-width: 570px) {
  .contenido .sliderPortafolio {
    background-image: url(../img/portafolio/slide_portafolio.jpg);
    background-position: top center;
    background-size: 150%;
  }
}
.contenido .sliderPortafolio .sliderPorta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0px;
  height: 300px;
  padding-top: 100px;
  left: 0px;
}
@media screen and (max-width: 768px) {
  .contenido .sliderPortafolio .sliderPorta {
    padding-top: 200px;
  }
}
@media screen and (max-width: 570px) {
  .contenido .sliderPortafolio .sliderPorta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0px;
    position: static;
    background-color: black;
    margin: 250px 0 0 0;
    height: auto;
    padding-top: 50px;
    width: 103%;
  }
}
.contenido .sliderPortafolio .sliderPorta h1 .TitInt {
  font-size: 1.5em;
  color: #ffffff;
  line-height: 90%;
}
.contenido .sliderPortafolio .sliderPorta h1 .TitInt2 {
  font-size: 2em;
  color: #f90300;
  line-height: 100%;
}
.contenido .sliderPortafolio .sliderPorta .img_portafolio {
  margin-top: 0px;
}
.contenido .sliderPortafolio .sliderPorta .img_portafolio img {
  max-width: 450px;
}
@media screen and (max-width: 768px) {
  .contenido .sliderPortafolio .sliderPorta .img_portafolio img {
    max-width: 300px;
  }
}
@media screen and (max-width: 570px) {
  .contenido .sliderPortafolio .sliderPorta .img_portafolio img {
    max-width: 300px;
    margin-top: -100px;
  }
}
.contenido .galeria {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat 4, 1fr;
}
@media screen and (max-width: 768px) {
  .contenido .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat 1, 1fr;
  }
}
@media screen and (max-width: 570px) {
  .contenido .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat 1, 1fr;
  }
}
.contenido .galeria .galleryItem {
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .contenido .galeria .galleryItem {
    width: 300px;
  }
}
@media screen and (max-width: 570px) {
  .contenido .galeria .galleryItem {
    width: 100%;
  }
}
.contenido .galeria .galleryItem img {
  width: 100%;
}
.contenido .flip-card {
  background-color: transparent;
  width: 300px;
  perspective: 1000px;
}
@media screen and (max-width: 570px) {
  .contenido .flip-card {
    width: 90%;
  }
}
.contenido .medida {
  height: 187px;
}
@media screen and (max-width: 570px) {
  .contenido .medida {
    height: 187px;
  }
}
.contenido .medidaBan {
  height: 250px;
}
@media screen and (max-width: 570px) {
  .contenido .medidaBan {
    height: 236px;
  }
}
.contenido .medidaSacom {
  display: block;
  height: 250px;
}
@media screen and (max-width: 768px) {
  .contenido .medidaSacom {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .contenido .medidaSacom {
    height: 236px;
    display: none;
  }
}
.contenido .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 2px 5px 10px rgba(40, 40, 40, 0.8);
}
.contenido .flip-card-front, .contenido .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.contenido .flip-card-back {
  background: linear-gradient(to bottom, #282828, #000000);
  color: #ffffff;
  padding: 10px;
}
.contenido .flip-card-back h5 {
  color: #f90300;
}
@media screen and (max-width: 570px) {
  .contenido .flip-card-back {
    padding: 50px 10px;
  }
}
.contenido .btnPortafolio {
  width: 150px;
  color: #000000;
}
.contenido .btnPortafolio:hover {
  width: 200px;
}
.contenido .warpper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 50px;
}
@media screen and (max-width: 570px) {
  .contenido .warpper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 10px;
  }
}
.contenido .warpper .tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #000000;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.5019607843);
}
.contenido .warpper .posicion {
  position: sticky;
  top: 10px;
  background-color: #ffffff;
  z-index: 20;
}
@media screen and (max-width: 768px) {
  .contenido .warpper .posicion {
    top: 130px;
  }
}
@media screen and (max-width: 570px) {
  .contenido .warpper .posicion {
    top: 100px;
  }
}
.contenido .warpper .panels {
  background: rgba(255, 255, 255, 0.9647058824);
  min-height: 200px;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}
.contenido .warpper .panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.contenido .warpper .panel-title {
  font-size: 1.5em;
  font-weight: bold;
}
.contenido .warpper .radio {
  display: none;
}
.contenido .warpper #one:checked ~ .panels #one-panel,
.contenido .warpper #two:checked ~ .panels #two-panel,
.contenido .warpper #three:checked ~ .panels #three-panel {
  display: block;
}
.contenido .warpper #one:checked ~ .tabs #one-tab,
.contenido .warpper #two:checked ~ .tabs #two-tab,
.contenido .warpper #three:checked ~ .tabs #three-tab {
  background: rgba(255, 255, 255, 0.9647058824);
  color: #000;
  border-top: 3px solid #000000;
}
.contenido #screen_full_transparent {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 100;
  display: none;
}
.contenido #screen_full_transparent #container_general {
  max-width: 90%;
  height: auto;
  margin: 20px auto 0px auto;
  font-family: Arial, Helvetica, sans-serif;
}
.contenido #screen_full_transparent .close_popup {
  width: auto;
  height: auto;
  margin-top: 13px;
  float: right;
  cursor: pointer;
  font-size: 40px;
}
.contenido #screen_full_transparent .close_popup img {
  width: 50px;
}
.contenido #screen_full_transparent .content_popup {
  max-width: auto;
}
.contenido #screen_full_transparent .gridCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px;
}
.contenido #screen_full_transparent .gridCont img {
  max-width: 80%;
}
@media screen and (max-width: 570px) {
  .contenido #screen_full_transparent .gridCont img {
    max-width: 100%;
  }
}
.contenido #screen_full_transparent .gridCont .add {
  max-width: 40%;
}
@media screen and (max-width: 570px) {
  .contenido #screen_full_transparent .gridCont .add {
    max-width: 100%;
  }
}
.contenido #screen_full_transparent .gridCont h2 {
  color: #f90300;
}
.contenido #screen_full_transparent .gridCont .banner1 {
  display: block;
}
@media screen and (max-width: 768px) {
  .contenido #screen_full_transparent .gridCont .banner1 {
    display: none;
  }
}
.contenido #screen_full_transparent .gridCont .banner2 {
  display: block;
}
@media screen and (max-width: 570px) {
  .contenido #screen_full_transparent .gridCont .banner2 {
    display: none;
  }
}
.contenido #screen_full_transparent .gridCont .banner3 {
  display: block;
}

/*Clientes*/
.contenido .sliderClientes {
  background-image: url(../img/clientes/slide_clientes.jpg);
  background-position: center left;
  background-size: 110%;
}
@media screen and (max-width: 570px) {
  .contenido .sliderClientes {
    background-image: url(../img/clientes/slide_clientes.jpg);
    background-position: top center;
    background-size: 150%;
  }
}
.contenido .sliderClientes .sliderCliente {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0px;
  height: 300px;
  left: 0px;
}
@media screen and (max-width: 570px) {
  .contenido .sliderClientes .sliderCliente {
    position: static;
    background-color: black;
    margin: 250px 0 0 0;
    height: 200px;
  }
}
.contenido .sliderClientes .sliderCliente h1 .TitInt {
  font-size: 1.2em;
  color: #ffffff;
  line-height: 0.5em;
}
.contenido .sliderClientes .sliderCliente h1 .TitInt2 {
  font-size: 2.5em;
  color: #f90300;
  line-height: 0.5em;
}
.contenido .sliderClientes .sliderCliente .infoContactame {
  font-size: 30px;
  width: 60%;
}
@media screen and (max-width: 570px) {
  .contenido .sliderClientes .sliderCliente .infoContactame {
    font-size: 20px;
    width: 80%;
  }
}
.contenido .clienteGallery {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat 4, 1fr;
}
.contenido .clienteGallery img {
  margin: auto;
}
.contenido .clienteGallery img:hover {
  transform: scale(1.1);
  transition: all ease 0.5s;
}
@media screen and (max-width: 570px) {
  .contenido .clienteGallery img {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .contenido .clienteGallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat 1, 1fr;
  }
}
@media screen and (max-width: 570px) {
  .contenido .clienteGallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat 1, 1fr;
  }
}

/*Contactame*/
.contenido .sliderContacto {
  background-image: url(../img/contactame/contacto.jpg);
  background-position: top left;
  background-size: 120%;
}
.contenido .sliderContacto .sliderContactame {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0px;
  height: 300px;
}
@media screen and (max-width: 570px) {
  .contenido .sliderContacto .sliderContactame {
    position: static;
    background-color: black;
    margin: 250px 0 0 0;
    height: auto;
  }
}
.contenido .sliderContacto .sliderContactame h1 .TitInt2 {
  font-size: 2em;
  color: #f90300;
  line-height: 20%;
}
@media screen and (max-width: 570px) {
  .contenido .sliderContacto .sliderContactame h1 .TitInt2 {
    font-size: 1.7em;
    color: #f90300;
    line-height: 20%;
  }
}
.contenido .sliderContacto .sliderContactame .infoContactame {
  font-size: 30px;
  width: 60%;
}
@media screen and (max-width: 570px) {
  .contenido .sliderContacto .sliderContactame .infoContactame {
    font-size: 20px;
    width: 80%;
  }
}
.contenido form ::placeholder {
  text-align: center;
}
.contenido form input {
  text-align: center;
}
.contenido form .botonContacto {
  width: 150px;
  border-left: 0px;
  border-right: 0px;
}
.contenido form .botonContacto:hover {
  width: 200px;
  text-shadow: 2px 0px 5px #ffffff;
}
.contenido .conContacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  gap: 10px;
  margin: 70px 0px;
  flex-wrap: wrap;
}
@media screen and (max-width: 570px) {
  .contenido .conContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 10px;
    margin: 70px 0px;
    width: 100%;
  }
}
.contenido .conContacto .iconoDatos {
  width: 70px;
  margin: auto;
}
.contenido .conContacto .iconoDatos img {
  width: 100%;
}
.contenido .conContacto .card {
  color: #000000;
}
.contenido .conContacto .card a {
  color: #000000;
  text-decoration: none;
}
.contenido .conContacto .card a:hover {
  color: #f90300;
  font-weight: bold;
}

footer {
  background-color: #484848;
  margin: 0;
  padding: 20px 0 0 0;
  color: #ffffff;
  position: relative;
  z-index: 10;
}
footer img {
  width: 40px;
}

.aviso {
  color: #ffffff;
  background-color: black;
  text-align: center;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
