/*Conóceme*/
.contenido{
    @extend %contenido;

    .sliderConoceme {
      @extend %slider;
        @include imgSlider(url(../img/conoceme/conoceme.jpg), top left, 110%);
        @include mobile{
          @include imgSlider(url(../img/conoceme/conoceme.jpg), center left, 200%);
          
        }
        
        .sliderConocemeSombra{
           
            @include colSlider(relative, rgba($bg-fondo, 0), 0px 0px 0px 200px, 300px); 
            left:0px;
           
            @include mobile{
                @include colSlider(static, rgba($bg-fondo, 1), 300px 0 0 0, 200px); 
       
               }
               h1{
              
                
                @extend %h1;
               .TitInt{
                
                  @include TitInterior(1.5em, $bg-terciario, 1em);
                  } 
                .TitInt2{
                 @include TitInterior(3em, $bg-principal, 1em);
              }
            }
         }
      
         } 
    .contenedor{
        @extend %contenedorDeg;
        flex-direction: row;
        padding: 70px 50px; 
        @include mobile{
            flex-direction: column; 
            padding: 50px 10px; 
           }
         
        .redondo{
            border-radius: 100%;
            width:300px;
        }
        .info{
            @include info(20px, 60%);
            @include mobile{
                @include info(20px, 80%); 
               }  
            }
           p.capitalLetter:first-letter{
              @extend %capital-letter;
             }
              
         
    }
    .caractaristicas{
        @include contFlex(flex, row, space-around, top, 10px, 70px 0px);
        .icoPortafolio{
            background-color: $bg-principal;
            border-radius: 100%;
            margin: -30px auto 0 auto;
            width: 70px;
            height: 70px;
           img{
                width: 70px;
                margin: auto;
            }
        }
        @include tablet{
          flex-wrap: wrap;
            
        }
        @include mobile{
         @include contFlex(flex, row, space-around, center, 20px, 30px 0px);
         flex-wrap: wrap;
    }
        
    }
         .habilidades{
            @include contFlex(flex, column, space-around, center, 20px, 0px);
           @include imgSlider(url(../img/conoceme/slide_habilidades.jpg), center center, cover);
           padding: 50px 0;
           background-attachment: fixed;
           h2{
            @extend %h2;        
           }
           .ContHabilidad{
            text-align: center;
            width: 200px;
            @include mobile{
                padding:0px;

            }
            img{
                width: 100px;
                @include mobile{
                    width: 50px;

                }
            }
            

            h3{
             @extend %h3;
            }
            h4{
                @extend %h4;
               }
           }
           .botonConoceme{
            width: map-get($botones, btn-width-sh);
            @extend %btns;
           
            a{
                @extend %btna;
            }
            &:hover{
              width: map-get($botones, btn-width-lg);
              text-shadow: map-get($botones, btn-text-shadow);
            }
        }
   
          }


        }

     
