footer{
    background-color:#484848;
     margin: 0;
    padding: 20px 0 0 0;
     color: #ffffff;
     position: relative;
     z-index: 10;

     img{
        width:40px;
     }
     
}
.aviso{
    color:#ffffff;
    background-color: black;
   text-align: center;
   padding: 10px;
   
   }