/**Inicio**/
.contenido{
    @extend %contenido;
    .rslides {
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
        #wrapper {
            padding: 0px;
             margin:0px;     
                } 
        li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
            &:first-child {
            position: relative;
            display: block;
            float: left;
             }
        }
        img {
            display: block;
           height: auto;
           width: 100%;
           border: 0;
                 }
         }
    .oscuro{
        background-color: rgba($bg-terciario,0.9);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index:3;
        padding: 0;
        @include mobile{
        background-color: rgba($bg-terciario,1);
        position:static;
        height: 300px;
            
        }
        .InfoInicio{
            margin: auto;
            max-width:100%;
            text-align: center;
            h1{
                @extend %h1;
              
                .bienvenido{
                    font-size: 2em;
                    color:$bg-fondo;
                    font-weight:300;
                   @include tablet{
                        font-size: 1.3em;
                    }
                    @include mobile{
                        font-size: 1em;
                    }
                    
                }
                .gab{
                    font-size:5em;
                    color: rgba($bg-relleno,0.4);
                    -webkit-text-stroke: 1px #ffffff;
                    line-height: 1em;
                   @include tablet{
                        font-size: 3em;
                    }
                    @include mobile{
                        font-size: 2em;
                    }
                }
    
                }
                .info_Sl{
                    color:#ffffff;
                    font-size: 2em;
                    margin: 0px 0px 20px 0px;
                    @include tablet{
                        font-size: 1.5em;
                    }
                    @include mobile{
                        font-size: 1.5em;
                    }
                }
                .asterisco{
                    color: $bg-principal;
                }
                        
                .botonIndex{
                    width: map-get($botones, btn-width-sm);
                    @extend %btns;
                   
                    a{
                        @extend %btna;
                    }
                    &:hover{
                      width: map-get($botones, btn-width-sm2);
                      text-shadow: map-get($botones, btn-txt-shadow);
                    }
                }
            
            }
        }
}




