@mixin contFlex($df-contFlex,$fd-contFlex,$jc-contFlex, $ai-contFlex,$g-contFlex, $margin-contFlex)
{
    display: $df-contFlex;
    flex-direction: $fd-contFlex;
    justify-content: $jc-contFlex;
    align-items: $ai-contFlex;
    gap: $g-contFlex;
    margin:$margin-contFlex ;
}

$visible:(
    visible:block,
    invisible:none,
);

$medida:(
    height1:187px,
    height2: 250px,
    height3: 236px,
    height4: 300px,
);

