//Paleta color
$bg-principal:#f90300;
$bg-secundario:#b30200;
$bg-terciario:#000000;
$bg-relleno:#282828;
$bg-fondo:#ffffff;
$bg-contenedor:#e3e3e3;
$transparent:transparent;


//transicion
$transition:all ease 0.5s;

/*Sombra*/
$sombraCont: 2px 5px 10px rgba($bg-relleno, 0.8);
